// 中英文設定不同字型,
// 把下方font-family自訂名加入_variables的$font-family-sans-serif第一個
@font-face {
  font-family: custom-font;
  src: local('Noto Sans TC'),
    url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap)
      format('embedded-opentype');
  unicode-range: U+4E00-9FFF;
}
@font-face {
  font-family: custom-font;
  src: local('PPMonumentExtended-Regular'),
    url('@/assets/stylesheets/fonts/PPMonumentExtended-Regular.otf') format('opentype');
  unicode-range: U+00-024F;
}

// Bootstrap 與客製樣式
@import '~bootstrap/scss/functions';
@import './helpers/variables';
@import '~bootstrap/scss/maps';
@import '~bootstrap/scss/mixins';
@import './helpers/utilities';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/utilities/api';
